[submodule "sources/base"]
	path = sources/base
	url = https://github.com/karo-electronics/karo-nxp-base
[submodule "sources/meta-browser"]
	path = sources/meta-browser
	url = https://github.com/OSSystems/meta-browser
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang
[submodule "sources/meta-freescale-distro"]
	path = sources/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro
[submodule "sources/meta-imx"]
	path = sources/meta-imx
	url = https://source.codeaurora.org/external/imx/meta-imx
[submodule "sources/meta-nxp-demo-experience"]
	path = sources/meta-nxp-demo-experience
	url = https://source.codeaurora.org/external/imxsupport/meta-nxp-demo-experience
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "sources/meta-python2"]
	path = sources/meta-python2
	url = https://git.openembedded.org/meta-python2
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
[submodule "sources/poky"]
	path = sources/poky
	url = https://github.com/YoeDistro/poky.git
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://github.com/Freescale/meta-freescale
[submodule "sources/meta-karo-nxp"]
	path = sources/meta-karo-nxp
	url = https://github.com/karo-electronics/meta-karo-nxp.git
[submodule "sources/meta-karo-distro"]
	path = sources/meta-karo-distro
	url = https://github.com/karo-electronics/meta-karo-distro
