[Unit]
Description=Scailx stream to webrtc Service
After=go2rtc.target

[Service]
Restart=on-failure
ExecStart=python3 /usr/bin/stream2webrtc.py
Restart=on-failure
StartLimitInterval=40s
StartLimitBurst=4

[Install]
WantedBy=multi-user.target
