CONFIG_USB_NET_QMI_WWAN=y
CONFIG_WWAN=y
CONFIG_WWAN_DEBUGFS=y
# CONFIG_WWAN_HWSIM is not set
# CONFIG_RPMSG_WWAN_CTRL is not set
# CONFIG_IOSM is not set
# CONFIG_MTK_T7XX is not set
CONFIG_USB_WDM=y
CONFIG_MXC_GPU_VIV=y
