# SPDX-License-Identifier: MIT-0
#
# Enable DHCP with link-local fallback for physical ethernet ports
# Enable IPv4LL + IPv6LL (but no DHCP/IPv6RA) for physical ethernet ports

[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
DHCP=yes
LinkLocalAddressing=yes
IPv6AcceptRA=no
MulticastDNS=yes
DHCP=yes

[DHCP]
UseMTU=yes
RouteMetric=10
ClientIdentifier=mac
