[Unit]
Description=go2rtc service
After=isp-imx-scailx.service

[Service]
Restart=on-failure
ExecStartPre=sleep 10
ExecStartPre=/usr/bin/go2rtc-create-cams-config.py
ExecStart=/usr/bin/go2rtc -config /etc/default/go2rtc.yaml -config /var/tmp/cam_config.yaml
RestartPreventExitStatus=255
Restart=on-failure
StartLimitInterval=40s
StartLimitBurst=4

[Install]
WantedBy=multi-user.target
