[Unit]
Description=go2rtc service
After=network.target

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/go2rtc-create-cams-config.py
ExecStart=/usr/bin/go2rtc -config /etc/default/go2rtc.yaml -config /tmp/cam_config.yaml
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target